# Optional paper-quality CPU runtime. Still excluded from the production installer
# until model-license, offline-packaging and physical-EliteBook gates pass.
--extra-index-url https://download.pytorch.org/whl/cpu
# OpenCV 5 requires NumPy >=2. The frozen LR-ASPP checkpoint was verified on Windows
# against this modern CPU stack with unchanged argmax and max |logit delta| < 1e-3.
numpy>=2,<3; platform_system == "Windows"
torch==2.14.0+cpu; platform_system == "Windows"
torchvision==0.29.0+cpu; platform_system == "Windows"
